tr, td{
    width: 30px;
    height: 30px;
    border: solid #214151a4 0.5px;
    padding: 5px;
    transition-duration: 0.1s;
}

td:hover{
    transition-duration: 0.2s;
    transform: scale(1.2);
    z-index: 11;
    opacity: 0.8;
}
.wall, .start, .end, .visited {
    transition-duration: 0.3s;

}

.wall {
    background-color: #214151;
}

.unvisited {
    background-color: #FFFFFF;
}

.visited {
    background-color: #F8DC81;
}

.start {
    background-color: #F8DC81;
}

.end {
    background-color: #A2D0C1;
}

a {
    cursor: pointer;
}