{% extends "index.html" %}

{% block content %}

    <div class="d-flex  justify-content-center">
        <div class="d-flex flex-column justify-content-center">
            <div class="p-2">
                  <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-item nav-link" id="draw" onclick="drawAll()">Draw</a>
                    </li>
                    <li class="nav-item">                      
                      <select class="form-select form-select-lg mb-3" id="algorithm" aria-label=".form-select-lg example">
                        <option selected value="1">BFS</option>
                        <option value="2">DFS</option>
                        <option value="3">A*</option>
                        <option value="4">IDA*</option>
                      </select>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="find" onclick="solution()">Find</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" id="clear" onclick="clearAll()">Clear</a>
                    </li>
                  </ul>
            </div>
            <div class="p-2"><div id="board"></div></div>
            <div class="p-2" id="info"></div>
        </div>  
    </div>
    
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/api.js') }}"></script>
    <script>
      window.onload = function (){
        console.log("Executing drawBlank()");
        drawBlank()
      }
    </script>
{% endblock %}